# Table manipulation in Pandas

In [1]:
import datetime
import numpy as np
import pandas as pd

from itertools import product
from string import ascii_uppercase, ascii_letters

## 1. Pandas DataFrames

### 1.1 DataFrame Creation

In [2]:
a, b = 3, 2
n = a + b

df = pd.DataFrame({
    'Category': ['red']*a + ['blue']*b,
    'Id': list(range(a)) + list(range(b)),
    'A': list(ascii_letters)[:n],
    'B': np.random.randint(0, 10, n),
    'C': np.random.random(n),
    'D': np.array('2020-02-29', dtype=np.datetime64) + np.arange(n),
    'E': pd.date_range('2020-03-01', periods=n, freq='W')
})
df

  Category  Id  A  B         C          D          E
0      red   0  a  5  0.969345 2020-02-29 2020-03-01
1      red   1  b  2  0.735107 2020-03-01 2020-03-08
2      red   2  c  8  0.699481 2020-03-02 2020-03-15
3     blue   0  d  3  0.437248 2020-03-03 2020-03-22
4     blue   1  e  5  0.610457 2020-03-04 2020-03-29

### 1.2 Get count of each ['Category', 'Id'] pair

In [3]:
df.groupby(['Category', 'Id']).size().reset_index(name='count')

  Category  Id  count
0     blue   0      1
1     blue   1      1
2      red   0      1
3      red   1      1
4      red   2      1

## 2. Multi-Index DataFrames

### 2.1 Creation of a DataFrame with a multi-index

In [4]:
df_multi = df.set_index(['Category', 'Id'])
df_multi

             A  B         C          D          E
Category Id
red      0   a  5  0.969345 2020-02-29 2020-03-01
         1   b  2  0.735107 2020-03-01 2020-03-08
         2   c  8  0.699481 2020-03-02 2020-03-15
blue     0   d  3  0.437248 2020-03-03 2020-03-22
         1   e  5  0.610457 2020-03-04 2020-03-29

### 2.2 Operations on the multi-index

In [5]:
print(f"The multi-index is:\n{df_multi.index}\n")

print("Conversion to a normal index (by removing the first row of the multi-index):")
print(f"{df_multi.index.droplevel(level=0)}\n")

print("Conversion to a normal index (by removing the second row of the multi-index)")
print(f"{df_multi.index.droplevel(level=1)}\n")

print("Converting a multi index into an array of tuples")
print(f"{df_multi.index.ravel()}\n")

The multi-index is:
MultiIndex([( 'red', 0),
            ( 'red', 1),
            ( 'red', 2),
            ('blue', 0),
            ('blue', 1)],
           names=['Category', 'Id'])

Conversion to a normal index (by removing the first row of the multi-index):
Int64Index([0, 1, 2, 0, 1], dtype='int64', name='Id')

Conversion to a normal index (by removing the second row of the multi-index)
Index(['red', 'red', 'red', 'blue', 'blue'], dtype='object', name='Category')

Converting a multi index into an array of tuples
[('red', 0) ('red', 1) ('red', 2) ('blue', 0) ('blue', 1)]

In [6]:
print('Converting the multi-index back into columns')
df_multi.reset_index()

Converting the multi-index back into columns

  Category  Id  A  B         C          D          E
0      red   0  a  5  0.969345 2020-02-29 2020-03-01
1      red   1  b  2  0.735107 2020-03-01 2020-03-08
2      red   2  c  8  0.699481 2020-03-02 2020-03-15
3     blue   0  d  3  0.437248 2020-03-03 2020-03-22
4     blue   1  e  5  0.610457 2020-03-04 2020-03-29

## 3. Stack & Unstack

In [7]:
df_wide = df[['Category', 'Id', 'B', 'C']].set_index(['Category', 'Id'])
df_wide

             B         C
Category Id
red      0   5  0.969345
         1   2  0.735107
         2   8  0.699481
blue     0   3  0.437248
         1   5  0.610457

In [8]:
df_wide.stack()

Category  Id
red       0   B    5.000000
              C    0.969345
          1   B    2.000000
              C    0.735107
          2   B    8.000000
              C    0.699481
blue      0   B    3.000000
              C    0.437248
          1   B    5.000000
              C    0.610457
dtype: float64

In [9]:
df_wide.unstack()

            B                   C
Id          0    1    2         0         1         2
Category
blue      3.0  5.0  NaN  0.437248  0.610457       NaN
red       5.0  2.0  8.0  0.969345  0.735107  0.699481